html {
    overflow: scroll;
    overflow-x: hidden;
}
body{
    overflow: visible !important;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
img#avatar{
	/*width: 100%;*/
	height:90px;
}
.rounded{
	border-radius: 50%;
}

.spacer {
    height: 100px;
}

.caps{text-transform: uppercase;}
.textleft{text-align:left;}
.textright{text-align:right;}
.textcenter{text-align:center;}
.marginbottom0{margin-bottom: 0;}
.roundedcorner{border-radius:6px; }
.width100{width:100%;}
.ycenter{position: relative; top: 50%; transform: translateY(-50%);};
.nopadding{ padding: 0 !important;}
.nomargin{  margin:0 !important;}

.text{
	color: rgba(255,255,255,0.9);
    transition: color .28s ease;
}
.navbar-fixed {
    position: fixed;
}
.navbarlogo{
    max-width: 100%;
    height: inherit;
    opacity: 0.8;
}

.navbarlogo:hover{
    opacity: 1;
}

nav .brand-logo {
    padding: 10px;
    height: 44px;
    margin-left: 5px;
}
@media screen and (max-width: 993px){
    nav .brand-logo {
        margin-left: 0px;
    }
}

.transparent{
    background-color:rgba(255, 255, 255, 0);
}
.noshadow{
    box-shadow: 0px 0px 0px 0px;
}
#navbar{
    transition: all 0.25s ease;
}
nav ul a {
    font-weight: 700;
    letter-spacing: 0.07rem;
    border-radius: 6px;
}
.cta{
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.75);
    margin-right: 15px;
}
a.button-collapse {
    opacity: 0.8;
}
a.button-collapse:hover {
    opacity: 1;
}

.gradient{
    background-image: -webkit-gradient(
    linear,
    right bottom,
    left bottom,
    color-stop(0, #3498DB),
    color-stop(1, #E74D3C)
);
background-image: -o-linear-gradient(left, #3498DB 0%, #E74D3C 100%);
background-image: -moz-linear-gradient(left, #3498DB 0%, #E74D3C 100%);
background-image: -webkit-linear-gradient(left, #3498DB 0%, #E74D3C 100%);
background-image: -ms-linear-gradient(left, #3498DB 0%, #E74D3C 100%);
background-image: linear-gradient(to left, #3498DB 0%, #E74D3C 100%);
}


.ctacontainer{
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    padding: 50px !important;
    margin-bottom: 10vh;
}

@media screen and (max-width: 600px){
    .ctacontainer{
        background: rgba(0,0,0,0.5);
        padding: 30px !important;
        border-radius: 0px;
        margin-bottom: 0vh;
    }
}

.ctaheader{
    padding-bottom: 30px;
}

@media screen and (max-width: 600px){
    .mobilecenter{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .mobilebottom{
        bottom:0;
        position: absolute;
        margin-bottom: 0px;
    }

    .mobiletop{
        top:0;
        position: absolute;
        margin-bottom: 0px;
    }
}

.fullpage{
    height:100vh;
}

.coverimg{
    background: url(../img/background-min.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; 
    }

.blacktint {
    background: rgba(0,0,0,0.15);
    height: inherit;
}

.textshadow{
    text-shadow: 0px 1px 4px rgba(0,0,0,.4);
    -webkit-text-stroke: 0px 1px 4px rgba(0,0,0,.4);
    -moz-text-stroke: 0px 1px 4px rgba(0,0,0,.4);
    -ms-text-stroke: 0px 1px 4px rgba(0,0,0,.4);
    -o-text-stroke: 0px 1px 4px rgba(0,0,0,.4);
}
.no_mobile_container{
    width:90%;
}

@media screen and (max-width: 600px){
    .no_mobile_container{
        width:100%;
    }
}

.cta-element{
    margin: 20px;
}

.box{
    max-width: 680px;
    padding: 10px;
}


.emailmargin{
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 0px;
}


@media only screen and (min-width: 993px) {
    .emailmargin{
    margin-right: 20px;
    margin-left:20px;
    margin-bottom: 0px;
    }
}

::-webkit-input-placeholder { 
  color: #ECF0F1;
    opacity: 0.8;
}

:-moz-placeholder { 
  color: #ECF0F1;
    opacity: 0.8;
}

::-moz-placeholder { 
  color: #ECF0F1;
    opacity: 0.8;
}

:-ms-input-placeholder { 
  color: #ECF0F1;
    opacity: 0.8;
}

::-ms-input-placeholder {
    color: #ECF0F1;
    opacity: 0.8;
}

:placeholder-shown {
    color: #ECF0F1;
    opacity: 0.8;
}

.socialBlock{

}

img.fb {
    height: 32px;
    margin: 0px 10px 0px 10px;
}

.congrats {
    font-size: -webkit-xxx-large;
}

.congrats2 {
    font-size: xx-large;
}
.congrats3 {
    font-size: large;
}