{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>
  
  <title>Crrency - Transparent economic network</title>
  <meta charset="UTF-8">
  <meta name="description" content="Crrency - the world’s first platform for building transparent economic network that let people transact goods and services using their own currencies!">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!-- CSS  -->
    <!-- Google Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link href="{% static 'frontend/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'frontend/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Materialize CSS Framework | Custom CSS -->
    <link href="{% static 'frontend/css/custom.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<!--Landing Page Content-->

<section class="blue fullpage" id="CTA">
    <div class="row center ycenter box">
        <h1 class="text nomargin cta-element" style="font-weight: bold">Use your own currency!</h1>
        <h5 class="text cta-element">World’s first platform for truly transparent economic networks</h5>
          <div class="row emailmargin">
            <form action="/registration" method="POST" id="collect-email">
              <div class="row text center">
                <div class="input-field col s12">
                  <input placeholder="Enter your email here" id="email" type="email" class="validate" autocomplete="off">
                </div>
                <div id="form-messages"></div>
              </div>
              <aid="submit" class="red btn cta-element">Notify me!</a>
            </form>
          </div>
        <div class="row">
            
        </div>
    </div>
</section>

<!--  Scripts-->

<!-- jQuery Library -->
<script src="{% static 'frontend/js/jquery-2.1.1.min.js' %}"></script>
<!-- Materialize.js -->
<script src="{% static 'frontend/js/materialize.js' %}"></script>
<!-- Materialize.js Initialization -->
<script src="{% static 'frontend/js/initforsubscription.js' %}" type="text/javascript"></script>
</body>
</html>