{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Crrency.co</title>

    <!-- CSS  -->
    <!-- Google Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link href="{% static 'frontend/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'frontend/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Materialize CSS Framework | Custom CSS -->
    <link href="{% static 'frontend/css/custom.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Fullpage.js CSS -->
    <link href="{% static 'frontend/css/jquery.fullPage.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
<div class="navbar-fixed">
    <nav id="navbar" class="transparent noshadow">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="navbarlogo" src="{% static 'frontend/img/logo.png' %}"></img></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="authentication/login/">SLog in</a></li>
                <li><a class="cta" href="authentication/register/">Create a new crrency</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="authentication/login/">Log in</a></li>
                <li><a href="authentication/register/">Create a new crrency</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="blue" id="fullpage">
  <div class="section nopadding">
    <div class="cta-wrapper">
      <!--Welcome text-->
      <div class=" container row">
        <div class="col m5 s12">
          <h1 class="text mobilecenter textshadow" style="font-weight: bold">Use your own currency!</h1>
        </div>
      </div>
      <!--Create a new currency block-->
      <div class="row mobilebottom">
        <div class="col m5 s12 ctacontainer">
          <h5 class="ctaheader text mobilecenter nomargin">World’s first platform for truly transparent economic networks</h5>
          <a href="authentication/register/" class="red btn width100">Create a new crrency</a>
        </div>
      </div>
    </div>
<!-- DEVICES MOCKUP??! -->
    <!--<div class="col m6 s12">
      <img class="responsive" src="{% static 'frontend/img/multi-device-mockup.png' %}" alt="Multi device mockup"/>
    </div>-->
  </div>
</div>
<container id="about-us">
    <h1>About Us</h1>       
</container>

<!--  Scripts-->
<!-- jQuery Library -->
<script src="{% static 'frontend/js/jquery-2.1.1.min.js' %}"></script>
<!-- Materialize.js -->
<script src="{% static 'frontend/js/materialize.js' %}"></script>
<!-- Fullpage.js js -->
<script src="{% static 'frontend/js/fullpage.js/vendors/jquery.slimscroll.js' %}" type="text/javascript"></script>
<script src="{% static 'frontend/js/fullpage.js/jquery.fullPage.js' %}" type="text/javascript" ></script>
<!-- Materialize.js Initialization -->
<script src="{% static 'frontend/js/init.js' %}" type="text/javascript"></script>
</body>
</html>

    