{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>
  
  <title>Crrency - Transparent economic network</title>
  <meta charset="UTF-8">
  <meta name="description" content="Crrency - the world’s first platform for building transparent economic network that let people transact goods and services using their own currencies!">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" type="image/png" href="{% static 'frontend/img/favicon.png' %}" />
    <!-- CSS  -->
    <!-- Google Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link href="{% static 'frontend/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'frontend/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Materialize CSS Framework | Custom CSS -->
    <link href="{% static 'frontend/css/custom.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<!--Landing Page Content-->

<section class="fullpage coverimg" id="CTA">
    <div class="blacktint">

      <div class="row center ycenter box">
        
        <div id="landing">
          <img class="fb" src="{% static 'frontend/img/crrency_logo.png' %}">
          <h1 class="text nomargin cta-element textshadow" style="font-weight: bold">Use your own currency!</h1>
          <h5 class="text cta-element textshadow">World’s first platform for truly transparent economic networks</h5>
            <div class="row emailmargin">
              <form method="POST" id="collect-email" action="/subscribe/">
                <div class="row text center">
                  <div class="input-field col s12">
                    <input placeholder="Enter your email here" id="email" type="email" class="validate" autocomplete="off" required value=''>
                  </div>
                  <div class="row nomargin" id="message">&nbsp;
                </div>
                <input id="submit" value="Subscribe" type="submit" class="red btn cta-element"></input>
              </form>
            </div>
          </div>

        </div>

      </div>

      <div class="socialBlock row center ycenter box hide" id="socialblock">

        <span class="text textshadow congrats">Thanks for subscribing!</span></br>
        <span class="text textshadow congrats2">We will keep you updated on our progress</span></br></br>
        <span class="text textshadow congrats3">Now you can click on icon below and visit our Facebook page.</span></br>
        <a href="https://www.facebook.com/Crrency/" target="_blank"><img class="fb" src="{% static 'frontend/img/fb_logo_white.png' %}"></a> 
      </div>

    </div>
</section>

<!--  Scripts-->

<!-- jQuery Library -->
<script src="{% static 'frontend/js/jquery-2.1.1.min.js' %}"></script>
<!-- Materialize.js -->
<script src="{% static 'frontend/js/materialize.js' %}"></script>
<!-- Materialize.js Initialization -->
<script src="{% static 'frontend/js/initforsubscription.js' %}" type="text/javascript"></script>
<!-- Email Form Handling -->
<script src="{% static 'frontend/js/email.js' %}" type="text/javascript"></script>
</body>
</html>






