/* CSS Styling Shortcuts */

img#avatar{/*width: 100%;*/	height:90px;}
.line-height-inherit{line-height: inherit !important;}
.rounded{border-radius: 50%;}
.caps{text-transform: uppercase;}
.textleft{text-align:left;}
.textright{text-align:right;}
.textcenter{text-align:center;}
.marginbottom0{margin-bottom: 0;}
.roundedcorner{border-radius:6px; }
.width100{width:100%;}
.height100{height:100%;}
.vertical-allign-bottom{vertical-align: bottom !important;};
.ycenter{position:relative;top: 50%;transform:translateY(-50%);};
.fullpage{height:100vh;}
.fixed{position:fixed;}
.text{color: rgba(255,255,255,0.9); transition: color .28s ease;}
.transparent{background-color:rgba(255, 255, 255, 0);}
.noshadow{box-shadow: 0px 0px 0px 0px;}


/* Color Pallette */

.darkblue-text{color:#2980B9;}
.darkblue{background-color:#2980B9;}
.themewhite-text{color:#ECF0F1;}
.themewhite{background-color:#ECF0F1;}
.theme-red{background-color: #E74C3C;}
.theme-red-text{color: #E74C3C;}
.theme-blue{background-color:#3498DB;}
.theme-blue-text{color:#3498DB;}

/* Preloader */

.preloader-wrapper {position: fixed;z-index: 999;margin: auto;top: 0;left: 0;bottom: 0;right: 0;}




.whotransacts{margin-bottom: 10px;}
.nopadding {padding: 0px !important;}
.nomargin{margin:0 !important;}


/*  GENERAL */

html {overflow: scroll;overflow-x: hidden;}
body{overflow: visible !important;background-color: #2C3E50;}
::-webkit-scrollbar {width: 0px;background: transparent;}

/* Header */

.logo-header{width:inherit;}
img.logo {padding: 10px 0px 0px 0px;height: 42px;}

.col-5th{width: 20% !important;margin-left: auto;left: auto;right: auto;}
.tabs .tab{min-width: 20px !important;}
.tabs .indicator{background-color: #ECF0F1;}
.navbar-fixed {position: fixed;}
#navbar{transition: all 0.25s ease;}


/* Material Icons Sizes */
.material-icons.sub { font-size: 12px; }
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


