html {
    overflow: scroll;
    overflow-x: hidden;
}
body{
    overflow: visible !important;
    background-color: #2C3E50;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
img#avatar{
	/*width: 100%;*/
	height:90px;
}
.rounded{
	border-radius: 50%;
}

.spacer {
    height: 100px;
}

.caps{text-transform: uppercase;}
.textleft{text-align:left;}
.textright{text-align:right;}
.textcenter{text-align:center;}
.marginbottom0{margin-bottom: 0;}
.roundedcorner{border-radius:6px; }
.width100{width:100%;}
.height100{height:100%;}
.ycenter{position:relative;top: 50%;transform:translateY(-50%);};
.nomargin{margin:0 !important;}
.fullpage{height:100vh;}
.line-height-inherit{line-height: inherit !important;}
.feed_image {height: 60px;}
.fixed{position:fixed;}
.row-feed {margin-left: auto;margin-right: auto;margin-bottom: 6px;}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.col-5th{width: 20% !important;margin-left: auto;left: auto;right: auto;}
.tabs .tab{
    min-width: 20px !important;
}

.text{color: rgba(255,255,255,0.9); transition: color .28s ease;}
.navbar-fixed {position: fixed;}
.navbarlogo{
    max-width: 100%;
    height: inherit;
    opacity: 0.8;
}

.preloader-wrapper {
    position: fixed;
    z-index: 999;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.navbarlogo:hover{
    opacity: 1;
}

.transparent{
    background-color:rgba(255, 255, 255, 0);
}
.noshadow{
    box-shadow: 0px 0px 0px 0px;
}
#navbar{
    transition: all 0.25s ease;
}
nav ul a {
    font-weight: 700;
    letter-spacing: 0.07rem;
    border-radius: 6px;
}

.darkblue-text{
    color:#2980B9;
}
.darkblue{
    background-color:#2980B9;
}
.themewhite-text{
    color:#ECF0F1;
}

.themewhite{
    background-color:#ECF0F1;
}

.theme-red{
    background-color: #E74C3C;
}

.theme-red-text{
    color: #E74C3C;
}

.theme-blue{
    background-color:#3498DB;
}

.theme-blue-text{
    color:#3498DB;
}

.tabs .indicator{
    background-color: #ECF0F1;
}

.post {
    padding: 10px;
}





.whotransacts{
    margin: 25px 0px 25px 0px;
}


span.feed-name {
    font-weight: 100;
    font-size: large;
}

span.short {
    font-weight: 800;
    color: #FFA544;
    font-size: medium;

}
span.for {

}

.nopadding {
    padding: 0px !important;
}
