article{
    border-radius: 3px;
    overflow: hidden;
    margin: 6px;
}
.whotransact{
    height: 72px;
    padding: 12px;
}

.sender-wrapper, .recipient-wrapper{
    height: 30px;
    color:rgba(0, 0, 0, 0.87);
    font-weight:600;
}

.sender-image-wrapper, .recipient-image-wrapper{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    margin-right: 10px;
}

.sender, .recipient{
    height: 100%;
    width: 100%;
}

.divider-wrapper{
    margin: 0px 10px 0px 10px;
    line-height: 0;
}

.sender-name-wrapper{
}

.recipient-name-wrapper{

}
.transaction-img{
    height: 100%;
    width: 100%;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
}