{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>
  
  <title>Crrency - Transparent economic network</title>
  <meta charset="UTF-8">
  <meta name="description" content="Crrency - the world’s first platform for building transparent economic network that let people transact goods and services using their own currencies!">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" type="image/png" href="{% static 'dashboard/img/favicon.png' %}" />
    <!-- CSS  -->
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500' rel='stylesheet' type='text/css'>

    <!-- Materialize CSS Framework -->
    <link href="{% static 'dashboard/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'dashboard/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Materialize CSS Framework | Custom CSS -->
    <link href="{% static 'dashboard/css/body.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'dashboard/css/timeline.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'dashboard/css/profile.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'dashboard/css/people.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'dashboard/css/settings.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'dashboard/css/search.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<!--Preloader-->

<div id="preloader">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
</div>

<!--Navigation Tabs Open-->
<section class="darkblue fixed" style="width:100%; height:88px; z-index:8000;" id="navigation-tabs">
		<div class="container center logo-header">
			<img class="logo" src="{% static 'dashboard/img/logo.png' %}">
		</div>
		
		<div class="row">
			<div class="container">
				<div class="s12">
				  <ul class="tabs darkblue preloading" id="tabs">
				    <li class="tab col-5th"><a id="home" href="#timeline"><i class="material-icons line-height-inherit themewhite-text">home</i></a></li>
				    <li class="tab col-5th"><a href="#profile"><i class="material-icons line-height-inherit themewhite-text">person</i></a></li>
				    <li class="tab col-5th"><a href="#people"><i class="material-icons line-height-inherit themewhite-text">people</i></a></li>
				    <li class="tab col-5th"><a href="#settings"><i class="material-icons line-height-inherit themewhite-text">settings</i></a></li>
				    <li class="tab col-5th"><a href="#search"><i class="material-icons line-height-inherit themewhite-text">search</i></a></li>
				  </ul>
				</div>
			</div>
		</div>	
</section>
<!--Navigation Tabs Close-->

<!-- Floating Button Open -->

<div class="fixed-action-btn click-to-toggle " style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large theme-blue">
    	<i class="material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating white"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating white"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating white"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating white"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>

<!-- Floating Button Close -->

<!-- Tabs Content Open-->

<section class="hide" style="padding-top: 88px;" id="tabs-content">
	
	<div id="timeline" class="col s12">
		<div class="row-feed black-text post white z-depth-2">
			<div class="col s12 row nomargin post-head">
				<div class="whotransact">
					<div class="left">
						<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
						<i class="material-icons md-14 line-height-inherit vertical-allign-middle">keyboard_arrow_right</i>
						<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
					</div>
					<div class="right">
							<span class="feed-name2 sub">500.00</span>
					</div>
				</div>
			</div>
			<div class="story">
				<img class="post-image" src="{% static "dashboard/img/1.jpg" %}" alt="Image"/></br>				
			</div>
			<div class="post-foot">
				<div class="right">
					<span class="feed-name2 sub time"><i class="material-icons md-14 line-height-inherit vertical-allign-middle">access_time</i> 1 min ago</span>
				</div>
			</div>
		</div>

		<div class="row-feed black-text post white z-depth-2">
			<div class="col s12 row nomargin post-head">
				<div class="whotransact">
					<div class="left">
						<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
						<i class="material-icons md-14 line-height-inherit vertical-allign-middle">keyboard_arrow_right</i>
						<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
					</div>
					<div class="right">
							<span class="feed-name2 sub">500.00</span>
					</div>
				</div>
			</div>
			<div class="story">
				<img class="post-image" src="{% static "dashboard/img/2.jpg" %}" alt="Image"/></br>				
			</div>
			<div class="post-foot">
				<div class="right">
					<span class="feed-name2 sub time"><i class="material-icons md-14 line-height-inherit vertical-allign-middle">access_time</i> 1 min ago</span>
				</div>
			</div>
		</div>

		<div class="row-feed black-text post white z-depth-2">
			<div class="col s12 row nomargin post-head">
				<div class="whotransact">
					<div class="left">
						<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
						<i class="material-icons md-14 line-height-inherit vertical-allign-middle">keyboard_arrow_right</i>
						<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
					</div>
					<div class="right">
							<span class="feed-name2 sub">500.00</span>
					</div>
				</div>
			</div>
			<div class="story">
				<img class="post-image" src="{% static "dashboard/img/3.jpg" %}" alt="Image"/></br>				
			</div>
			<div class="post-foot">
				<div class="right">
					<span class="feed-name2 sub time"><i class="material-icons md-14 line-height-inherit vertical-allign-middle">access_time</i> 1 min ago</span>
				</div>
			</div>
		</div>

		<div class="row-feed black-text post white z-depth-2">
			<div class="col s12 row nomargin post-head">
				<div class="whotransact">
					<div class="left">
						<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
						<i class="material-icons md-14 line-height-inherit vertical-allign-middle">keyboard_arrow_right</i>
						<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
					</div>
					<div class="right">
							<span class="feed-name2 sub">500.00</span>
					</div>
				</div>
			</div>
			<div class="story">
				<img class="post-image" src="{% static "dashboard/img/4.jpg" %}" alt="Image"/></br>				
			</div>
			<div class="post-foot">
				<div class="right">
					<span class="feed-name2 sub time"><i class="material-icons md-14 line-height-inherit vertical-allign-middle">access_time</i> 1 min ago</span>
				</div>
			</div>
		</div>	
	</div>
	
	<div id="profile" class="col s12">
		<div class="row-feed black-text post white z-depth-2">
			<div class="col s12 nopadding whotransact">
				<div class="col s12 center">

					<img class="sender rounded profile-image " src="{% static "dashboard/img/simas.jpg" %}" alt="Sender"/></br>
					<span class="profile-name"> Simonas Zilinkas</span></br>
					<span class="profile-info black-text">UI/UX Designer</br></span>
					Vilnius, Lithuania</br>
					<span class="balance-current">+100.00</span></br>
					<span class="balance-month">+200.00% This Month</span>

					</br>
					</br>

					<div class="col s12 row nomargin">
						<div class="col s6">
							<a href="tel:+37069441362"><i id="phone" class="material-icons md-24 line-height-inherit vertical-allign-bottom">phone</i></a>
						</div>
						<div class="col s6">
							<a href="mailto:asesugeris@muchlove.com"><i id="mail" class="material-icons md-24 line-height-inherit vertical-allign-bottom">mail</i></a>
						</div>
					</div>

				</div>	
			</div>
		</div>

		<div id="timeline" class="col s12">
			<div class="row-feed black-text post white z-depth-2">
				<div class="col s12 row nomargin post-head">
					<div class="whotransact">
						<div class="left">
							<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
							<i class="material-icons md-14 line-height-inherit vertical-allign-middle">keyboard_arrow_right</i>
							<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
						</div>
						<div class="right">
								<span class="feed-name2 sub">500.00</span>
						</div>
					</div>
				</div>
				<div class="story">
					<img class="post-image" src="{% static "dashboard/img/1.jpg" %}" alt="Image"/></br>				
				</div>
				<div class="post-foot">
					<div class="right">
						<span class="feed-name2 sub time"><i class="material-icons md-14 line-height-inherit vertical-allign-middle">access_time</i> 1 min ago</span>
					</div>
				</div>
			</div>

			<div class="row-feed black-text post white z-depth-2">
				<div class="col s12 row nomargin post-head">
					<div class="whotransact">
						<div class="left">
							<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
							<i class="material-icons md-14 line-height-inherit vertical-allign-middle">keyboard_arrow_right</i>
							<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
						</div>
						<div class="right">
								<span class="feed-name2 sub">500.00</span>
						</div>
					</div>
				</div>
				<div class="story">
					<img class="post-image" src="{% static "dashboard/img/2.jpg" %}" alt="Image"/></br>				
				</div>
				<div class="post-foot">
					<div class="right">
						<span class="feed-name2 sub time"><i class="material-icons md-14 line-height-inherit vertical-allign-middle">access_time</i> 1 min ago</span>
					</div>
				</div>
			</div>

			<div class="row-feed black-text post white z-depth-2">
				<div class="col s12 row nomargin post-head">
					<div class="whotransact">
						<div class="left">
							<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
							<i class="material-icons md-14 line-height-inherit vertical-allign-middle">keyboard_arrow_right</i>
							<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
						</div>
						<div class="right">
								<span class="feed-name2 sub">500.00</span>
						</div>
					</div>
				</div>
				<div class="story">
					<img class="post-image" src="{% static "dashboard/img/3.jpg" %}" alt="Image"/></br>				
				</div>
				<div class="post-foot">
					<div class="right">
						<span class="feed-name2 sub time"><i class="material-icons md-14 line-height-inherit vertical-allign-middle">access_time</i> 1 min ago</span>
					</div>
				</div>
			</div>

			<div class="row-feed black-text post white z-depth-2">
				<div class="col s12 row nomargin post-head">
					<div class="whotransact">
						<div class="left">
							<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
							<i class="material-icons md-14 line-height-inherit vertical-allign-middle">keyboard_arrow_right</i>
							<div class="chip"><img src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">Aleksandras</div>
						</div>
						<div class="right">
							<span class="feed-name2 sub">500.00</span>
						</div>
					</div>
				</div>
				<div class="story">
					<img class="post-image" src="{% static "dashboard/img/4.jpg" %}" alt="Image"/></br>				
				</div>
				<div class="post-foot">
					<div class="right">
						<span class="feed-name2 sub time"><i class="material-icons md-14 line-height-inherit vertical-allign-middle">access_time</i> 1 min ago</span>
					</div>
				</div>
			</div>		
		</div>
	</div>

	<div id="people" class="col s12">
		<div class="col s12">
			<div class="row-feed black-text post white z-depth-2">
				<div class="contact row2">
					<div class="contact-avatar-wrapper">
						<img class="rounded contact" src="{% static "dashboard/img/simas.jpg" %}" alt="Contact Person">
					</div>
					<div>
						<span class="contact-name">Simas Zilinskas</span></br><span class="contact-job">UI/UX Designer</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="settings">
		
		<!-- Current Network -->

		<div class="col s12">
			<div class="row-feed black-text post white z-depth-2">
				You are on:
			</div>

			<div class="row-feed black-text post white z-depth-2">
				<div class="row">
					<div>
						<span class="x-large">Network name</span>
					</div>
				</div>
				<div class="row nomargin">
					<div>
						<span class="x-large right">10000.00</span>
					</div>
				</div>
				<div class="row">
					<div>
						<span class="right">Total money outstanding</span>
					</div>
				</div>
				<div class="row nomargin">
					<div>
						<span class="x-large right">+100.00</span>
					</div>
				</div>
				<div class="row nomargin">
					<div>
						<span class="right">Personal balance</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Aviable Networks -->


		<div class="col s12">
			<div class="row-feed black-text post white z-depth-2">
				Switch to:
			</div>


			<a href="#">
				<div class="row-feed black-text post white z-depth-2">
					<div class="row">
						<div>
							<span class="x-large">Network name</span>
						</div>
					</div>
					<div class="row nomargin">
						<div>
							<span class="x-large right">10000.00</span>
						</div>
					</div>
					<div class="row">
						<div>
							<span class="right">Total money outstanding</span>
						</div>
					</div>
					<div class="row nomargin">
						<div>
							<span class="x-large right">+100.00</span>
						</div>
					</div>
					<div class="row nomargin">
						<div>
							<span class="right">Personal balance</span>
						</div>
					</div>
				</div>
			</a>

			<a href="#">
				<div class="row-feed black-text post white z-depth-2">
					<div class="row">
						<div>
							<span class="x-large">Network name</span>
						</div>
					</div>
					<div class="row nomargin">
						<div>
							<span class="x-large right">10000.00</span>
						</div>
					</div>
					<div class="row">
						<div>
							<span class="right">Total money outstanding</span>
						</div>
					</div>
					<div class="row nomargin">
						<div>
							<span class="x-large right">+100.00</span>
						</div>
					</div>
					<div class="row nomargin">
						<div>
							<span class="right">Personal balance</span>
						</div>
					</div>
				</div>
			</a>

		</div>

	</div>

	<div id="search">
		<div class="col s12">
			<div class="row-feed black-text post white z-depth-2">
				Search
			</div>
		</div>
	</div>
</section>



<!--  Scripts-->

<!-- jQuery Library -->
<script src="{% static 'dashboard/js/jquery-2.1.1.min.js' %}"></script>
<!-- Materialize.js -->
<script src="{% static 'dashboard/js/materialize.js' %}"></script>
<!-- Materialize.js Initialization -->
<script src="{% static 'dashboard/js/init.js' %}"></script>
<!-- Preloader Initialization -->
<script src="{% static 'dashboard/js/preloader.js' %}" type="text/javascript"></script>
</body>
</html>






